*{
    margin: 0;
    padding: 0;
}
/* Inicio session*/
.fondologin{
    background-color: #2299FF;
    background-image: url("/Imagenes/fondo.svg");
    background-attachment: fixed;
    background-size: cover;

}
.content h1{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 10px;
}
#marcologin{
    position: absolute;
    width: 30%;
    height: 100%;
    right: 1px;
    background-color: rgba(224, 234, 239, 0.8);
    text-align: center;
}
 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
#text-ingreso{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.content img{
    display: flex;
    width: 60%;
    margin: 0px;
    padding: 0px; 
}
.item input{
    padding: 5px 30px 5px 3px;
    margin: 0px 0px 30px 0px;
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.562);
}
.item label{
    display: flex;
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    margin-bottom: 5px;
}

.form{
    display: flex;
    font-size: 14px;
    margin-top: 50px;
}

.item-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 190px;
    margin-top: 10px;
}
.boton{
    background-color: #1d8ee5;
    color:#000000;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer; 
    border: 1px solid black;
}
.boton:hover{
    background-color: #006aff65;
    color:azure;
}

.recordar-con a{
    position: absolute;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:rgb(0, 110, 255);
    bottom: 50px;
    align-items: center;
    margin-left: 15px;
}

 #imgamovil{
    position: absolute;
    float: left;
    top: 250px;
    height: 130px;
    max-width: 45%;
    padding: 0px 0px 0px 50px;
 }

 .termcondicion {
    position: absolute;
    width: 95%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    bottom: 10px;
 }
 .termcondicion a{
    color:rgb(0, 110, 255);
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
 }